body {
  margin: 0;
  background-color: #f4f4f4;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}


button {
  padding: 10px 20px;
  background-color: rgb(87, 66, 180);
  border-color: rgb(71, 42, 202);
  color: white;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
}